separator {
    background: @separator-color;
    border-top: 1px solid @dark-gray-2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.combo {
    padding: 2px 2px 2px 10px;
    background: @top-background;
    border-width: 1px;
    border-color: @background-frame
}

.flat_combo button.combo {
    border-left: 0px;
}

.global_config_label {
    font-weight: 600;
    font-size: 110%;
}

.content_box {
    background: @top-background-2;
    border-width: 0px 0px 0px 1px;
    border-color: @background-frame;
    border-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    box-shadow: none;
    padding-bottom: 50px;
}

#main_notebook {
    border-width: 1px 1px 0px 1px;
    border-color: @bottom-background;
    border-style: solid;
}

#main_notebook header {
    background: @top-background;
    border-width: 0px;
}

#main_notebook header tabs tab {
    margin: 0px;
    font-weight: 500;
}

#main_notebook header tabs tab:checked {
    background: @blue-bg;
}

#main_notebook header tabs tab:hover {
    background: @blue-bg;
}

.frame {
    box-shadow: none;
    border-width: 0 0 1px 0;
}

.category {
    padding: 10px;
}

.explanation {
    margin: 0 0 10px 0;
}

.section_title {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 150%;
}

.page_title {
    font-weight: 400;
    font-size: 180%;
    margin-top: 20px;
    margin-bottom: 2px;
}

.flowbox_container {
    margin: 5px 15px 5px 15px;
    background: @top-background;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: @separator-color;
}

.flowbox_title {
    color: @soft-text-color;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.flowbox_flowbox {
    background: @top-background;
    padding: 5px;
}

.red_code {
    font-family: SourceCodePro;
    color: @red-code;
    margin-left: 5px;
}

.explanation_text {
    color: @misc-text-color;
    margin-left: 5px;
}

.add_label {
    color: @text-color;
    font-weight: 600;
    font-size: 100%;
}

.add_label:disabled {
    color: @soft-text-color;
    font-size: 100%;
    font-weight: 600;
}

.add_button {
    border-image: none;
    background-image: none;
    border: 2px;
    border-style: solid;
    border-color: @medium-gray-2;
    background: @add-button;
    box-shadow: none;
}

.permission_list {
    background: @top-background-2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.permission_row {
    background: @top-background-2;
    padding:5px;
}

.permission_row:hover {
    background: @qubes-blue;
}

.edited_row {
    padding: 5px 5px 5px 5px;
    background: none;
    border-style: none;
    margin: 5px;
}

.edited_row:hover {
    background: @top-background;
}

.problem_box {
    margin: 5px 0px 5px 0px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: @problem-frame;
    background: @problem-background;
}

.problem_list {
    margin-top: 10px;
    background: @problem-background;
    padding-left: 50px;
}

.problem_row:hover {
    background: @problem-background;
}

.enable_opts {
    margin: 5px 0 5px 0;
}

.related_opts {
    margin: 2px 0 2px 0;
}

.raw_text {
    margin: 10px 25px 10px 35px;
    background: @top-background;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: @background-frame;
}

.text_button {
    color: @dark-blue;
    font-weight: 700;
    border: 0px;
}

.small_title {
    font-size: 80%;
    font-weight: 700;
    margin-bottom: 5px;
}

.didascalia {
    font-style: italic;
    color: @misc-text-color;
    margin-right: 20px;
    margin-left: 20px;
}

.info_box {
    padding: 10px 10px 10px 10px;
    margin: 5px 0px 5px 0px;
    background: @info-background;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: @info-frame;
}

.info_box link {
    color: @link-color;
}

.action_text {
    color: @text-color;
    font-weight: 700;
}

.action_text_soft {
    color: @text-color;
}

.certified_yes {
    margin: 30px;
    padding: 30px 40px 30px 40px;
    font-size: 120%;
    border: 1px solid;
    border-color: @background-frame;
}

.info_grid {
    margin: 20px;
}
